/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 ago 2020, 19:54:31
    Author     : HP
*/

#preloder, .loader{
    display: none;
}

.hero{
    padding: 10em 0;
    padding-bottom: 5em;
}

#cerca {
    width: 15%;
    height: 54px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    background: #f03250;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
}

a,  a div div div > *{
    color: black;
    transition: .4s all;
}

a:hover, a:hover div div div > *{
    color: #f03250 !important;
}

.link_ref:hover{
    color: #f03250 !important;
}

.lista_programmi{
    list-style: none;
}

.listing__item__text__inside h5 {
    transition: .4s color;
}

.listing__item__text__inside h5:hover {
    color: #f03250;
    border-bottom: 2px solid #f03250;
    transition: .4s color;
}


.programma{
    border-bottom: 1px solid #ccc;
    transition: .4s all;
    box-shadow: 5px 0px 5px #ccc;
}

.programma:hover{
    border-bottom: 1px solid #f03250;
    box-shadow: 5px 0px 5px #f03250;
}


.programma_img{
    min-width: 150px;
    min-height: 150px;
    height:150px;

    max-height: 150px;
    max-width: 150px;
}

small{
    font-size : 70%;
}

.canali{
    margin-top: 4em;
}

.canale{
    margin-top: 2em;
    margin-bottom: 2em;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.canale.slider{
    border: 1px solid #ccc;
}


.canale_head{
    background: transparent;
    border-bottom:0;
}

.canale-logo h5{
    position: relative;
}

.canale-logo h5:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #f03250;
    transition: width 0.3s ease, left 0.3s ease 0s;
    width: 0;
}

.canale-logo h5:hover:after{
    width:100%;
    right:100%;
}

.canale-logo, .canale-logo div{
    padding-right: 15px;
    padding-left: 15px;
}



.days li a{
    color: #f03250;
}

.day-number{
    height: 6em;
    color: #f03250;
    border-radius: 50%;
    border: 1px solid #f03250;
    text-align: center;
    padding: 1em;
    line-height: 4em;
    font-weight: bold;
    background: #f7f8fa;
    cursor: pointer;
    transition: .4s all;
}

.day-number.active{
    height: 6em;
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #f03250;
    text-align: center;
    padding: 1em;
    /*line-height: 4em;*/
    font-weight: bold;
    background: #f03250;
    cursor: pointer;
}


.day-name small{
    color: #f03250;
}



.fascie{
    margin-top: 2em;
}

.fascia {
    height: 8em;
    padding: 2em;
    background: #f7f8fa;
    cursor: pointer;
    border: 1px solid #f03250;
    box-shadow: 2px 5px 4px -1px #f03250;
    transition: .4s all;
}

.fascia a{
    color: #f03250;
}

.fascia.canale{
    height: 6em;
    padding: 1.4em;
}

.fascia-icon img{
    width: 2em;
    height: 2em;
    max-height: 2em;
    max-width: 2em;
    filter: invert(16%) sepia(102%) saturate(3296%) hue-rotate(347deg) brightness(100%) contrast(116%);
}

.fascia + .fascia{
    border-right: 0;
}

.fascia:first-child{
    border-right: 0;
}

.fascia:last-child{
    border-right: 1px solid #f03250;
}

.day-number:hover, .fascia:hover{
    background: #f03250;
    color: #fff;
}

.fascia.active{
    background: #f03250;
    color: #fff;
}
.fascia:hover a .fascia-icon-mattina{
    color:#feffd9;
}

.fascia.active a .fascia-icon-mattina{
    color:#feffd9;

}

.fascia:hover a .fascia-icon-pomeriggio{
    color: #fef500;
}

.fascia.active a .fascia-icon-pomeriggio{
    color: #fef500;
}

.fascia:hover a .fascia-icon-notte{
    color:#190849;
}

.fascia.active a .fascia-icon-notte{
    color:#190849;

}

.fascia:hover a div  h5{
    color: #ffffff;
    transition: .4s all;
}

.fascia.active a div h5{
    color: #ffffff;
    transition: .4s all;
}

.fascia:hover div img{
    filter: invert(75%) sepia(102%) saturate(3296%) hue-rotate(361deg) brightness(100%) contrast(116%);
}

.fascia.active div img{
    filter: invert(75%) sepia(102%) saturate(3296%) hue-rotate(361deg) brightness(100%) contrast(116%);

}

.palinsesto-date{
    background: #fff;
}

.palinsesto-canale{
    border: 1px solid #f03250;
    border-radius: 10px;
}

.dettaglio_series_img{
    min-height: 50px;
    min-width: 50px;
    max-height: 180px;
    max-width: 180px;
    width: auto;
    height: auto;
}

.search{
    text-align: center;
}


.search-container{
    background: #fff;
    position: relative;
    padding:0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-out;
}

.search-container.js{
    border: 2px solid #f03250;
    border-radius: 10px;
    opacity: 1;
    max-height: 100%;
    box-shadow: 0px 0px 5px 3px #f03250;
    -web-kit-box-shadow: 0px 0px 5px 3px #f03250;
    -moz-box-shadow: 0px 0px 5px 3px #f03250;
    padding: 2em;
    margin-top: 2em;
    transition: all .4s ease-in;
}

#cerca:hover + .search-container.nojs, .search-container.nojs:hover{
    display:block;
    border: 2px solid #f03250;
    border-radius: 10px;
    opacity: 1;
    max-height: 100%;
    box-shadow: 0px 0px 5px 3px #f03250;
    -web-kit-box-shadow: 0px 0px 5px 3px #f03250;
    -moz-box-shadow: 0px 0px 5px 3px #f03250;
    padding: 2em;
    margin-top: 2em;
    transition: all .4s ease-in;
}

.profile_daily_email, .profile_info{
    border: 1px solid #f03250;
    border-radius: 10px;
}

.profile_info_form{
    padding-top: 4em;
}

.dettagli_titolo h3{
    border-bottom: 2px solid #f03250;
}

.blog__pagination a:hover {
    background: #f03250;
    color: #ffffff !important; 
    border-color: #f03250;
}

.blog__pagination a.page_active {
    background: #f03250;
    color: #ffffff;
    border-color: #f03250;
}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}

/* MEDIA QUERIES */

@media (min-width:2000px){
    .palinsesto_programma_img{
        width: 50% ;
    }

    .card, h5, p{
        font-size: 32px;
    }

    .canale{
        font-size: 32px;
    }
}

@media only screen and (min-width: 1800px){
    .container {
        max-width: 1600px;
    }
}

@media (min-width:1600px){
    .palinsesto_programma_img{
        width: 70%;
    }

    .card, h5, p{
        font-size: 28px;
    }

    .canale{
        font-size: 28px;
    }
}

@media (min-width:1300px){
    .palinsesto_programma_img{
        width: 80%;
        max-height: 140px;
    }

    .dettaglio_series_img{
        min-height: 150px;
        min-width: 50px;
        max-width: 175px;
        max-height: 150px;
    }

    .card, h5, p{
        font-size: 18px;
    }

    .canale{
        font-size: 18px;
    }
}

@media (max-width: 1299px){

    .dettaglio_series_img{
        min-height: 140px;
        min-width: 50px;
        max-width: 175px;
        max-height: 140px;
    }

}


@media (max-width: 991px){

    .dettaglio_series_img{
        min-height: 100px;
        min-width: 50px;
        max-width: 110px;
        max-height: 100px;
    }

}

@media (max-width:767px){
    #cerca{
        width: 25%;
    }

    .dettaglio_series_img{
        min-height: 90px;
        min-width: 50px;
        max-height: 90px;
        max-width: 90px;
    }



    .day-number{
        height: 3em;
        width: 3em;
        border-radius: 35%;
        padding: 1em;
        line-height: 1em;
    }

    .day-number.active{
        height: 3em;
        width: 3em;
        border-radius: 35%;
        line-height: 1em;
        padding: 1em;
    }



}



@media (max-width:767px){
    #cerca{
        width: 25%;
    }

    .palinsesto_programma_img{
        min-height: 50px;
        min-width: 50px;
        width: auto;
        height: auto;
    }

    .canali{
        margin-top: 1.5em;
    }

    .canale-logo div a img{
        min-height: 35px;
        min-width: 35px;
        width: auto;
        height: auto;
    }
    .programma_img{
        min-height: 40px;
        min-width: 40px;
    }

    .fascia {
        height: 5em;
        padding: 1em;
    }

    .fascie{
        margin-top: 1em;
    }
}


@media (max-width:575px){

    .programma{
        height: 7em;
    }

    .fascia.canale{
        height: 5em;
    }

    .card, h5{
        font-size: 14px;
    }
    h5 + p{
        font-size: 8px;
    }
    .day-name small {
        font-size: 60%;
    }

    .palinsesto-date div{
        margin: auto;
    }
}

@media (max-width: 490px){

    .dettaglio_series_img {
        min-height: 90px;
        min-width: 50px;
        max-height: 90px;
        max-width: 70px;
    }

    #cerca{
        width: 30%;
    }
}

@media (max-width:446px){
    .day-number {
        height: 2em;
        width: 2em;
        border-radius: 35%;
        line-height: 2em;
        padding: 0;
    }

    .day-number.active {
        height: 2em;
        width: 2em;
        border-radius: 35%;
        line-height: 2em;
        padding: 0;
    }

    .fascia {
        height: 3.5em;
        padding: 0.1em;
    }

}



@media (max-width:416px){

    .section-title h2{
        font-size: 26px;
    }

    #cerca_giorno{
        padding: 5px 0px 5px 1px;
    }

    .card, h5, p{
        font-size: 12px;
    }

    .palinsesto_programma_img{
        min-width: 45px;
        width: auto;
        height: auto;
    }

    .day-name small {
        font-size: 50%;
    }

    .canale{
        font-size: 12px;
    }

    .dettaglio_series_img{
        min-height: 63px;
        min-width: 50px;
        width: auto;
        height: auto;
        max-height: 63px;
    }

}

@media (max-width:370px){
    .dettaglio_series_img {
        min-height: 62px;
        min-width: 60px;
        max-height: 62px;
        max-width: 60px;
    }
}

@media (max-width:330px){


    .card, h5, p{
        font-size: 10px;
    }

    .palinsesto_programma_img{
        min-width: 40px;
        width: auto;
        height: auto;
    }

    .canali {
        margin-top: 1.5em;
        padding-right: 2px;
        margin-right: 0px;
        margin-left: 15px;
        padding-left: 0em;
    }

    .canale{
        font-size: 10px;
    }

    .canale-logo, .canale-logo div, .canale-logo + div{
        padding-right: 10px;
        padding-left: 0px;
    }


    small{
        font-size: 60%;
    }

    .dettagli_titolo h3{
        font-size: 20px;
    }

    h4{
        font-size: 12px
    }

    p{
        font-size: 10px;
    }

    small{
        font-size: 50%;
    }

    .canale.slider{
        font-size: 17px;
    }
    .contact__form button {
        padding: 10px 19px 8px 15px;
    }

    .primary-btn {
        padding: 10px 19px 8px 15px;
    }

    .blog__pagination a {
        padding: 7px 12px 3px;
    }


}



@media (max-width:280px){
    .canale.slider{
        font-size: 14px;
    }
}