/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 ago 2020, 19:54:31
    Author     : HP
*/

#preloder, .loader{
    display: none;
}

.hero{
    padding: 10em 0;
    padding-bottom: 5em;
}

#cerca {
    width: 15%;
    height: 54px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    background: #f03250;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
}

a,  a div div div > *{
    color: black;
    transition: .4s all;
}

a:hover, a:hover div div div > *{
    color: #f03250 !important;
}

.link_ref:hover{
    color: #f03250 !important;
}

.lista_programmi{
    list-style: none;
}


.programma{
    border-bottom: 1px solid #ccc;
    transition: .4s all;
    box-shadow: 5px 0px 5px #ccc;
}

.programma:hover{
    border-bottom: 1px solid #f03250;
    box-shadow: 5px 0px 5px #f03250;
}


.programma_img{
    min-width: 150px;
    min-height: 150px;
    height:150px;
    
    max-height: 150px;
    max-width: 150px;
}

small{
    font-size : 70%;
}

.canali{
    margin-top: 4em;
}

.canale{
    margin-top: 2em;
    margin-bottom: 2em;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.canale.slider{
    border: 1px solid #ccc;
}


.canale_head{
    background: transparent;
    border-bottom:0;
}

.canale-logo h5{
    position: relative;
}

.canale-logo h5:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #f03250;
    transition: width 0.3s ease, left 0.3s ease 0s;
    width: 0;
}

.canale-logo h5:hover:after{
    width:100%;
    right:100%;
}

.days li a{
    color: #f03250;
}

.day-number{
    height: 6em;
    color: #f03250;
    border-radius: 50%;
    border: 1px solid #f03250;
    text-align: center;
    padding: 1em;
    line-height: 4em;
    font-weight: bold;
    background: #f7f8fa;
    cursor: pointer;
    transition: .4s all;
}

.day-number.active{
    height: 6em;
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #f03250;
    text-align: center;
    padding: 1em;
    /*line-height: 4em;*/
    font-weight: bold;
    background: #f03250;
    cursor: pointer;
}


.day-name small{
    color: #f03250;
}



.fascie{
    margin-top: 2em;
}

.fascia {
    height: 8em;
    padding: 2em;
    background: #f7f8fa;
    cursor: pointer;
    border: 1px solid #f03250;
    box-shadow: 2px 5px 4px -1px #f03250;
    transition: .4s all;
}

.fascia a{
    color: #f03250;
}

.fascia.canale{
    height: 6em;
    padding: 1.4em;
}

.fascia-icon img{
    width: 2em;
    height: 2em;
    max-height: 2em;
    max-width: 2em;
    filter: invert(16%) sepia(102%) saturate(3296%) hue-rotate(347deg) brightness(100%) contrast(116%);
}

.fascia + .fascia{
    border-right: 0;
}

.fascia:first-child{
    border-right: 0;
}

.fascia:last-child{
    border-right: 1px solid #f03250;
}

.day-number:hover, .fascia:hover{
    background: #f03250;
    color: #fff;
}

.fascia.active{
    background: #f03250;
    color: #fff;
}
.fascia:hover a .fascia-icon-mattina{
    color:#feffd9;
}

.fascia.active a .fascia-icon-mattina{
    color:#feffd9;

}

.fascia:hover a .fascia-icon-pomeriggio{
    color: #fef500;
}

.fascia.active a .fascia-icon-pomeriggio{
    color: #fef500;
}

.fascia:hover a .fascia-icon-notte{
    color:#190849;
}

.fascia.active a .fascia-icon-notte{
    color:#190849;

}

.fascia:hover a div  h5{
    color: #ffffff;
    transition: .4s all;
}

.fascia.active a div h5{
    color: #ffffff;
    transition: .4s all;
}

.fascia:hover div img{
    filter: invert(75%) sepia(102%) saturate(3296%) hue-rotate(361deg) brightness(100%) contrast(116%);
}

.fascia.active div img{
    filter: invert(75%) sepia(102%) saturate(3296%) hue-rotate(361deg) brightness(100%) contrast(116%);

}

.palinsesto-date{
    background: #fff;
}

.palinsesto-canale{
    border: 1px solid #f03250;
    border-radius: 10px;
}

.search{
    text-align: center;
}


.search-container{
    background: #fff;
    position: relative;
    padding:0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-out;
}

.search-container.js{
    border: 2px solid #f03250;
    border-radius: 10px;
    opacity: 1;
    max-height: 100%;
    box-shadow: 0px 0px 5px 3px #f03250;
    -web-kit-box-shadow: 0px 0px 5px 3px #f03250;
    -moz-box-shadow: 0px 0px 5px 3px #f03250;
    padding: 2em;
    margin-top: 2em;
    transition: all .4s ease-in;
}

#cerca:hover + .search-container.nojs, .search-container.nojs:hover{
    display:block;
    border: 2px solid #f03250;
    border-radius: 10px;
    opacity: 1;
    max-height: 100%;
    box-shadow: 0px 0px 5px 3px #f03250;
    -web-kit-box-shadow: 0px 0px 5px 3px #f03250;
    -moz-box-shadow: 0px 0px 5px 3px #f03250;
    padding: 2em;
    margin-top: 2em;
    transition: all .4s ease-in;
}

.profile_daily_email, .profile_info{
    border: 1px solid #f03250;
    border-radius: 10px;
}

.profile_info_form{
    padding-top: 4em;
}

.dettagli_titolo h3{
    border-bottom: 2px solid #f03250;
}

.blog__pagination a:hover {
    background: #f03250;
    color: #ffffff !important; 
    border-color: #f03250;
}