/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 ago 2020, 19:54:31
    Author     : HP
*/

.hero{
    padding: 10em 0;
    padding-bottom: 5em;
}

#cerca {
    width: 15%;
    height: 54px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    background: #f03250;
    color: #ffffff;
	text-transform: uppercase;
	display: inline-block;
}

a,  a div div div > *{
    color: black;
    transition: .4s all;
}

a:hover, a:hover div div div > *{
    color: #f03250 !important;
}

.link_ref:hover{
    color: #f03250 !important;
}

.lista_programmi{
    list-style: none;
}


.programma{
     border-bottom: 1px solid #ccc;
     transition: .4s all;
}

.programma:hover{
    border-bottom: 1px solid #f03250;
}

small{
    font-size : 70%;
}

.canali{
    margin-top: 4em;
}

.canale{
    margin-top: 2em;
    margin-bottom: 2em;
    border-right: 1px solid #ccc;
    
}

.canale-logo{
    transition: .4s all;
   
   
}

.canale-logo h5:hover{
    border-bottom: 1px solid #f03250;
   
}

.days li a{
    color: #f03250;
}

.day-number{
    height: 6em;
    color: #f03250;
    border-radius: 50%;
    border: 1px solid #f03250;
    text-align: center;
    padding: 2.2em;
    font-weight: bold;
    background: #f7f8fa;
    cursor: pointer;
    transition: .4s all;
}

.day-number.active{
    height: 6em;
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #f03250;
    text-align: center;
    padding: 2.2em;
    font-weight: bold;
    background: #f03250;
    cursor: pointer;
}


.day-name small{
 color: #f03250;
}

.palinsesto-date{
    background: #fff;
}

.fascie{
    margin-top: 2em;
}

.fascia{
    height: 8em;
    padding: 2em;
    background: #f7f8fa;
    cursor: pointer;
    color: #f03250;
    border: 1px solid #f03250;
    transition: .4s all;
}

.fascia-icon img{
    width: 2em;
    height: 2em;
    max-height: 2em;
    max-width: 2em;
    filter: invert(16%) sepia(102%) saturate(3296%) hue-rotate(347deg) brightness(100%) contrast(116%);
}

.fascia + .fascia{
    border-right: 0;
}

.fascia:first-child{
    border-right: 0;
}

.fascia:last-child{
    border-right: 1px solid #f03250;
}

.day-number:hover, .fascia:hover{
    background: #f03250;
    color: #fff;
}

.fascia:hover .fascia-icon-mattina{
    color:#feffd9;
}

.fascia:hover .fascia-icon-pomeriggio{
    color: #fef500;
}

.fascia:hover .fascia-icon-notte{
    color:#190849;
}


.fascia:hover div  h5{
    color: #ffffff;
    transition: .4s all;
}

.fascia:hover div img{
       filter: invert(75%) sepia(102%) saturate(3296%) hue-rotate(361deg) brightness(100%) contrast(116%);
}