<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tutti i canali</h1>
            <#if success??>
            <div class="alert alert-success">
                ${success}
            </div>
        </#if>
        <#if errors??>
        <div class="alert alert-danger">
            ${errors}
        </div>
    </#if>
</div>
            <div class="col-lg-12">
                <a href="canali?insert" class="page-header"  style="color: green; cursor: pointer;" >Aggiungi un canale <em class="fa fa-plus color-green"></em></a>
            </div>
        </div>

        <div class="panel panel-container" style="background-color: #F1F4F7">
            <div class="row">
                <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        Logo
                    </div>
                </div>
                <div class="col-xs- col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        Nome
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        In Onda
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        Numero
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-1 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        Edit
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-1 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        Delete
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-container">
            <#list canali as canale>
            <div class="row">
                <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
                    <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;">
                        <img src="${canale.logo}" width="50" height="50"/>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;">
                        ${canale.nome}
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;">
                        <#if canale.programmazioneCorrente??>
                        ${canale.programmazioneCorrente.programma.titolo}
                        <#else>
                        <p style="color: red">niente in onda</p>
                    </#if>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
                    <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;">
                        ${canale.numero}
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-1 no-padding">
                    <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;">
                        <a href="canali?edit=${canale.key}"> <i class="fa fa-xl fa-edit"></i> </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-1 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        <form id="delete-form-${canale.key}"method="POST" action="canali">
                            <em class="fa fa-xl fa-times color-red" style="cursor: pointer;" onclick="deleteFunc()" ></em>
                            <script>
                                function deleteFunc() {
                                    var x = confirm('Vuoi veramente cancellare questo canale?')
                                    if(x == true){
                                        document.getElementById('delete-form-${canale.key}').submit(); }
                                }
                            </script>
                            <input name="id" value="${canale.key}" hidden >
                            <input name="delete" value="delete" hidden >
                        </form>
                    </div>
                </div>
            </div>
        </#list>
        </div>
    </div>
