
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-8 col-sm-7 col-md-5 col-lg-4">
                <div class="contact__widget">
                    <div class="contact__widget__address dettagli_titolo">
                        <h3 class="text-center">Verifica la tua email</h3>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <p>Controlla la tua posta elettronica per verificare la tua email</p>
                <p>Se non hai ricevuto nessuna mail clicca <a href="verifyemail?resend=true">qui</a></p>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
