  <!-- Most Search Section Begin -->
    <section class="most-search spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>IN ONDA ADESSO</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="listing__item">
                                        <div class="listing__item__pic set-bg" data-setbg="img_tv/progs/prog_1.jpg">
                                            <img src="img_tv/canali/small/1.png" alt="">
                                            <div class="listing__item__pic__tag">RAI 1</div>
                                            <div class="listing__item__pic__btns">
                                                <a href="#"><span class="icon_zoom-in_alt"></span></a>
                                            </div>
                                        </div>
                                        <div class="listing__item__text">
                                            <div class="listing__item__text__inside">
                                                <h5>L'Eredita'</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        <h6>18:00 - 20:00</h6>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li>Generi: Commedia, Azione</li>
                                                    <li> <a class="link_ref" href="https://it.wikipedia.org/wiki/L%27eredit%C3%A0_(programma_televisivo)" target="_blank">Info</a></li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/listing/list_small_icon-1.png" alt="">
                                                    <span>Restaurant</span>
                                                </div>
                                                <div class="listing__item__text__info__right">Open Now</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Most Search Section End -->
