<!-- Most Search Section Begin -->
<section class="most-search spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>IN ONDA ADESSO</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="in_onda" class="row">
                    <#list current_prog as canale, programmazione>


                    <div class="col-lg-4 col-md-6">
                        <div class="listing__item">
                            <#if programmazione??>
                            <div class="listing__item__pic set-bg" data-setbg="<#if programmazione.programma.img??>${programmazione.programma.img}<#else>img_tv/static/no-image.png</#if>" style="background-image: url(<#if programmazione.programma.img??>${programmazione.programma.img}<#else>img_tv/static/no-image.png</#if>);">
                                <#else>
                                <div class="listing__item__pic set-bg" data-setbg="img_tv/static/no-image.png" style="background-image: url(img_tv/static/no-image.png);">
                                    </#if>
                                    <a href="canale?c_key=${canale.key}"><img src="<#if canale.logo??>${canale.logo}<#else>img_tv/static/no-image.png</#if>" alt="${canale.logo} logo"></a>
                                    <a href="canale?c_key=${canale.key}"><div class="listing__item__pic__tag">${canale.nome}</div></a>
                                    <div class="listing__item__pic__btns">
                                        <a href="<#if programmazione??>programma?p_key=${programmazione.programma.key}</#if>"><span class="icon_zoom-in_alt"></span></a>
                                    </div>
                                </div>
                                <div class="listing__item__text">
                                    <div class="listing__item__text__inside">
                                        <#if programmazione??>
                                        <a href="programma?p_key=${programmazione.programma.key}"><h5>${programmazione.programma.titolo}</h5></a>
                                        <#else>
                                        <a href="canale?c_key=${canale.key}"><h5>Nessuna programmazione in onda</h5></a>
                                        </#if>
                                        <div class="listing__item__text__rating">
                                            <div class="listing__item__rating__star">
                                                <h6><#if programmazione??>${programmazione.time} - ${programmazione.endTime}<#else>Nessuna programmazione in onda</#if></h6>
                                            </div>
                                        </div>
                                        <ul>
                                            <#if programmazione??>
                                            <#list programmazione.programma.generi as genere>


                                            <li><i class="fa fa-genderless" aria-hidden="true"></i>
                                                ${genere.nome}
                                            </li>


                                            <#else>
                                            <li><i class="fa fa-genderless" aria-hidden="true"></i>
                                                Nessun genero
                                            </li>
                                            </#list>
                                            <#else>
                                            <li><i class="fa fa-genderless" aria-hidden="true"></i>
                                                Nessuna programmazione
                                            </li>
                                            </#if>
                                            <#if programmazione??>
                                            <li><i class="fa fa-info" aria-hidden="true"></i> <a class="link_ref" href="${programmazione.programma.link_ref}" target="_blank">Info</a></li>
                                            </#if>
                                        </ul>
                                    </div>
                                    <#if programmazione??>
                                    <div class="listing__item__text__info">
                                        <div class="listing__item__text__info__left">
                                            <#if programmazione.programma.stagione??>
                                            <span>Stagione ${programmazione.programma.stagione}, Puntata ${programmazione.programma.episodio} &nbsp; <small>(${programmazione.durata} min)</small></span>
                                            <#else>
                                            <span> <small>(${programmazione.durata} min)</small> </span>
                                            </#if>
                                        </div>
                                    </div>
                                    </#if>
                                </div>
                            </div>
                        </div>


                        <#else>
                        <div class="container">
                            <p>Nessuna programmazione in onda</p>
                        </div>
                        </#list>


                    </div>
                </div>

                <div class="row col-12 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div id="home_pagination" class="blog__pagination">
                            <#list 1..(numero_pagine+1) as p>
                            <a <#if (p-1) == pagina>class="page_active"</#if> href="?page=${p-1}">${p}</a>
                            </#list>
                            <#if pagina < numero_pagine>
                            <a href="?page=${pagina+1}">NEXT</a>
                            </#if>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="home_programma_prototype" class="col-lg-4 col-md-6 d-none">
            <div class="listing__item">
                <div class="listing__item__pic set-bg" data-setbg="">
                    <a href=""><img src="#" alt=""></a>
                    <a href=""><div class="listing__item__pic__tag">canale.nome</div></a>
                    <div class="listing__item__pic__btns">
                        <a href=""><span class="icon_zoom-in_alt"></span></a>
                    </div>
                </div>
                <div class="listing__item__text">
                    <div class="listing__item__text__inside">
                        <a href=""><h5>programma.titolo</h5></a>
                        <div class="listing__item__text__rating">
                            <div class="listing__item__rating__star">
                                <h6>10:00 - 12:00 | nessuna programmazione in onda</h6>
                            </div>
                        </div>
                        <ul>

                        </ul>
                    </div>
                    <div class="listing__item__text__info">
                        <div class="listing__item__text__info__left">
                            <span><small></small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Most Search Section End -->
