<!-- Most Search Section Begin -->
<section class="most-search spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>PALINSESTO CANALE</h2>
                </div>
            </div>
        </div>

        <div class="card text-center">

            <div class="card-header row align-items-center canale_head">
                <div class="col-lg-3 col-md-6 text-center">
                    <span><img src="<#if canale.logo??>${canale.logo}<#else>img_tv/static/no-image.png</#if>"  alt=""></span>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="card-title">${canale.nome}</h5>
                    <p class="card-text">Canale disponibile sul numero ${canale.numero}</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <form action="canale" method="GET">
                        <div class="form-group d-flex justify-content-between">
                            <input type="date" class="form-control dateTime flex-fill w-auto mr-2" required="required" name="day" placeholder="yyyy-mm-dd" value="${day}"/>
                            <input type="hidden" name="c_key" value="${canale.key}"/>
                            <button type="submit" class="btn primary-btn align-self-center flex-fill p-2">
                                <i class="fa fa-search"></i>
                                cerca giorno
                            </button>
                        </div>
                    </form>
                </div>
            </div>



            <div class="row palinsesto-date m-0 ">

                <div class="row col-lg-12 m-0 p-0 fascie align-items-center">

                    <div class="col-lg m-0 fascia canale <#if (fascia==1)>active</#if>">
                        <a href="canale?c_key=${canale.key}&fascia=0<#if day?? >&day=${day}</#if>">


                            <div class="fascia-icon-mattina col-lg-12 text-center ">
                                <i class="fa fa-hourglass fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col-lg-12 text-center">
                                <h5>Tutto il giorno</h5>
                            </div>
                        </a>
                    </div>



                    <div class="col-lg  m-0 fascia canale <#if (fascia==1)>active</#if>">
                        <a href="canale?c_key=${canale.key}&fascia=1<#if day?? >&day=${day}</#if>">
                            <div class="fascia-icon-mattina col-lg-12 text-center">
                                <i class="fa fa-coffee fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col-lg-12 text-center">
                                <h5>Mattina</h5>
                            </div>
                        </a>
                    </div>



                    <div class="col-lg  m-0 fascia canale <#if (fascia==1)>active</#if>">
                        <a href="canale?c_key=${canale.key}&fascia=2<#if day?? >&day=${day}</#if>">
                            <div class="fascia-icon-pomeriggio col-lg-12 text-center">
                                <i class="fa fa-sun-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col-lg-12 text-center">
                                <h5>Pomeriggio</h5>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg  m-0 fascia canale <#if (fascia==1)>active</#if>">
                        <a href="canale?c_key=${canale.key}&fascia=3<#if day?? >&day=${day}</#if>">
                            <div class="fascia-icon col-lg-12 text-center">
                                <img src="https://img.icons8.com/pastel-glyph/64/000000/sunset--v2.png"/>
                            </div>
                            <div class="col-lg-12 text-center">
                                <h5>Sera</h5>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg  m-0 fascia canale <#if (fascia==1)>active</#if>">
                        <a href="canale?c_key=${canale.key}&fascia=4<#if day?? >&day=${day}</#if>">
                            <div class="fascia-icon-notte col-lg-12 text-center">
                                <i class="fa fa-moon-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col-lg-12 text-center">
                                <h5>Notte</h5>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="card-body">


                <div class="row  canale  justify-content-center ">

                    <div class="col-lg-12 col-md-6">
                        <ul class="lista_programmi ">
                            <#list programmazioni as programmazione>
                            <li>
                                <a href="#">
                                    <div class="row programma">

                                        <div class="col-lg-2 align-self-center">
                                            <small>${programmazione.time} - ${programmazione.endTime}</small>
                                        </div>
                                        <div class="col-lg-2 col-md-2 p-1">
                                            <img src="${programmazione.programma.img}" class="rounded">
                                        </div>

                                        <div class="row col-lg-8">

                                            <div class="col-lg-10 col-md-10 align-self-center">
                                                <h5>${programmazione.programma.titolo}</h5>
                                                <#if programmazione.programma.generi??>
                                               
                                                    <#list programmazione.programma.generi as genere >
                                                    <small>${genere.nome}<#sep>, </#sep></small>
                                                    </#list>
                                               
                                                <#else>
                                                <h6>Questo programma non ha generi</h6>
                                                </#if>
                                            </div>
                                            <div class="col-lg-2 col-md-10 align-self-center">
                                                <small>(${programmazione.durata} min)</small>
                                            </div>   



                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <#else>
                        <span class="alert alert-warning">Nessuna programmazione corrente</span>
                        </#list>
                    </div>
                </div>


            </div>
            <div class="card-footer text-muted">
                ${canale.nome}
            </div>
        </div>



    </div>
</section>
<!-- Most Search Section End -->
