<!-- Most Search Section Begin -->
<section class="most-search spad">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>PALINSESTO</h2>
                </div>
            </div>
        </div>

        <div class="row  palinsesto-date ">

            <div class="row day-number-container col-12 m-md-2 justify-content-around align-items-center">
                <#list settimana as giorno>
                <a href="palinsesto?day=${giorno.toString()}" class="col-1 col-lg-1 p-1 text-center"> <div class="day-number <#if day == giorno.toString()>active</#if>"><span>${giorno.getDayOfMonth()}</span></div> </a>
                </#list>
            </div>

            <div class="row col-12 col-lg-12 m-md-2  justify-content-around">
                <#list settimana as giorno>
                <div class="col-1 col-lg-1 day-name text-center"><small>
                        <#if giorno.getDayOfWeek()  == 'MONDAY' >Luned&igrave;
                        <#elseif giorno.getDayOfWeek()  == 'TUESDAY'>Marted&igrave;
                        <#elseif giorno.getDayOfWeek()  == 'WEDNESDAY'>Mercoled&igrave;
                        <#elseif giorno.getDayOfWeek()  == 'THURSDAY'>Gioved&igrave;
                        <#elseif giorno.getDayOfWeek()  == 'FRIDAY'>Venerd&igrave;
                        <#elseif giorno.getDayOfWeek()  == 'SATURDAY'>Sabato
                        <#elseif giorno.getDayOfWeek()  == 'SUNDAY'>Domenica
                        </#if>
                    </small></div>
                </#list>

            </div>

            <div class="row col-12 m-md-2 fascie justify-content-center align-items-center">


                <div class="col-6 col-sm-6 col-md-3 col-lg-3 fascia <#if (fascia==1)>active</#if>">
                    <a href="palinsesto?fascia=1<#if day?? >&day=${day}</#if>">
                        <div class="fascia-icon-mattina col-12 col-lg-12 text-center">
                            <i class="fa fa-coffee fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="col-12 col-lg-12 text-center">
                            <h5>Mattina</h5>
                        </div>
                    </a>
                </div>



                <div class="col-6 col-sm-6 col-md-3 col-lg-3 fascia <#if (fascia==2)>active</#if>">
                    <a href="palinsesto?fascia=2<#if day?? >&day=${day}</#if>">
                        <div class="fascia-icon-pomeriggio col-12 col-lg-12 text-center">
                            <i class="fa fa-sun-o fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="col-12 col-lg-12 text-center">
                            <h5>Pomeriggio</h5>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-3 col-lg-3  fascia <#if (fascia==3)>active</#if>">
                    <a href="palinsesto?fascia=3<#if day?? >&day=${day}</#if>">
                        <div class="fascia-icon col-12 col-lg-12 text-center">
                            <img src="https://img.icons8.com/pastel-glyph/64/000000/sunset--v2.png"/>
                        </div>
                        <div class="col-12 col-lg-12 text-center">
                            <h5>Sera</h5>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-3 col-lg-3 fascia <#if (fascia==4)>active</#if>">
                    <a href="palinsesto?fascia=4<#if day?? >&day=${day}</#if>">
                        <div class="fascia-icon-notte col-12 col-lg-12 text-center">
                            <i class="fa fa-moon-o fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="col-12 col-lg-12 text-center">
                            <h5>Notte</h5>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
    <hr>
    <div class="container-fluid">
        <div class="row col-lg-12 canali">

            <#list palinsesto as canale,programmazioni>
            <div class="row col-12  canale  justify-content-center align-items-center">

                <div class="canale-logo col-3 col-lg-3 text-center">

                    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">
                        <#if canale.logo??>
                        <a href="canale?c_key=${canale.key}"><img src="${canale.logo}"  alt="${canale.nome}"></a>
                        <#else>
                        <a href="canale?c_key=${canale.key}"><img src="img_tv/static/no_img.png"  alt="${canale.nome}"></a>
                        </#if>
                    </div>

                    <div class="col-12 col-sm-8 col-md-8 col-lg-6 mt-2">
                        <a href="canale?c_key=${canale.key}"><h5>${canale.nome}</h5></a>
                    </div>

                    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                        <small class="d-none d-md-block">${start} - ${end}</small>
                        <small class="d-md-none">${start}</small>
                        <small class="d-md-none">${end}</small>
                    </div>

                </div>


                <div class="col-9 col-lg-9">
                    <#if (programmazioni?size > 0)>
                    <ul class="lista_programmi">
                        <#list programmazioni as programmazione>
                        <li>
                            <a href="programma?p_key=${programmazione.programma.key}">
                                <div class="row programma">
                                    <div class="col-3 col-lg-3 align-self-center">
                                        <#if programmazione.programma.img??><img class="palinsesto_programma_img" src="${programmazione.programma.img}" alt="${programmazione.programma.titolo}">
                                        <#else>
                                        <img class="programma_img" src="img_tv/static/no_img.png"  alt="${programmazione.programma.titolo}">
                                        </#if>
                                    </div>

                                    <div class=" col-9 col-lg-9 align-self-center">

                                        <div class="row">
                                            <div class="col-9 col-lg-10 align-self-center">
                                                <h5>${programmazione.programma.titolo}</h5>
                                            </div>
                                            <div class="col-3 col-lg-2 align-self-center">
                                                <small>(${programmazione.programma.durata} min)</small>
                                            </div>   

                                            <div class="col-9 col-lg-10 align-self-center">
                                                <#list programmazione.programma.generi as genere>
                                                <small>${genere.nome} <#sep>, </#sep></small>
                                                <#else>
                                                <small>Questo programma non ha generi</small>
                                                </#list>
                                            </div>

                                            <div class="col-3 col-lg-2 align-self-center">
                                                <small>${programmazione.time}</small>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        </li>
                        </#list>
                    </ul>
                    <#else>
                    <div class="col-lg-9 text-center align-self-center">
                        <p>Nessuna programmazione</p> 
                    </div>
                    </#if>
                </div>



            </div>

            <#else>

            <div class="col-12 align-self-center">
                <p>Nessuna programmazione</p>
            </div>
            </#list>

        </div>

        <div class="row col-12">
            <div class="col-12 text-center">
                <div id="palinsesto_pagination" class="blog__pagination">
                    <#list 1..(numero_pagine+1) as p>
                    <a <#if (p-1) == pagina>class="page_active"</#if> href="?page=${p-1}<#if day?? >&day=${day}</#if><#if fascia?? >&fascia=${fascia}</#if>">${p}</a>
                    </#list>
                    <#if pagina < numero_pagine>
                    <a href="?page=${pagina+1}<#if day?? >&day=${day}</#if><#if fascia?? >&fascia=${fascia}</#if>">NEXT</a>
                    </#if>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Most Search Section End -->


<div id="palinsesto_generale_prototype" class="row col-12  canale  justify-content-center align-items-center d-none">

    <div class="canale-logo col-3 col-lg-3 text-center">

        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">
            <a href=""><img src=""  alt=""></a>
        </div>

        <div class="col-12 col-sm-8 col-md-8 col-lg-6 mt-2">
            <a href=""><h5></h5></a>
        </div>

        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <small class="d-none d-md-block"></small>
            <small class="d-md-none"></small>
            <small class="d-md-none"></small>
        </div>

    </div>


    <div class="col-9 col-lg-9">
        <ul class="lista_programmi">
            <li>
                <a href="">
                    <div class="row programma">
                        <div class="col-3 col-lg-3 align-self-center">
                            <img class="palinsesto_programma_img" src="">
                        </div>

                        <div class=" col-9 col-lg-9 align-self-center">

                            <div class="row">
                                <div class="col-9 col-lg-10 align-self-center">
                                    <h5></h5>
                                </div>
                                <div class="col-3 col-lg-2 align-self-center">
                                    <small></small>
                                </div>   

                                <div class="col-9 col-lg-10 align-self-center">
                                    <small></small>
                                </div>

                                <div class="col-3 col-lg-2 align-self-center">
                                    <small></small>
                                </div>

                            </div>

                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>



</div>