
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="contact__widget">
                    <div class="contact__widget__address">
                        <h4 class="text-center">REGISTRATI</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <form action="register" class="contact__form" method="POST">
                    <#if error??><p class="alert alert-danger" role="alert">${error}</p></#if>

                    <div class="form-group row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <input type="text" placeholder="Nome" name="nome" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <input type="text" placeholder="Cognome" name="cognome" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <input type="text" placeholder="Email" name="email" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <input type="password" placeholder="Password" name="password" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <input type="password" placeholder="Confirm Password" name="password_confirm" required class="form-control">
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="col-lg-6 col-md-6 text-center">
                            <button type="submit" class="site-btn">INVIA</button>
                        </div>
                    </div>
                    <input type="hidden" name="submit" value="submit">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
