<!-- Hero Section Begin -->
<section class="hero set-bg" data-setbg="img/hero/hero-bg.jpg" style="background-image: url(img/hero/hero-bg.jpg);">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="hero__text">
                    <div class="section-title">
                        <h2>Cerca nel sito</h2>
                        <p>Cerca i tuoi programmi preferiti</p>
                    </div>   

                </div>

            </div>

            <div class="col-lg-12">
                <div class="search">

                    <button id="cerca" class="text-center">CERCA</button>

                    <div class="col-lg-10 offset-lg-1 col-md-12 search-container nojs">
                        <div class="row justify-content-center">

                            <div class="col-12 col-lg-12 text-center mt-4 mb-4">
                                <h2>
                                    <i class="fa fa-search"></i>
                                    Cerca i tuoi programmi preferiti
                                </h2>
                            </div>

                            <form action="cerca" method="GET" class="col-lg-12">

                                <div class="form-group row justify-content-center">
                                    <label for="titolo" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Titolo</label>
                                    <div class="col-12 col-sm-8 col-md-8 col-lg-8 ">
                                        <input type="text" class="form-control" id="titolo" name="titolo" placeholder="Titolo del programma"/> 
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center">
                                    <label for="generi" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Generi</label>
                                    <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                                        <select id="generi" class="form-control" name="generi" multiple="multiple">

                                            <#if (generi?size > 0)>
                                            <option value="0" selected="selected">Tutti i generi</option>
                                            </#if>

                                            <#list generi as genere>
                                            <option value="${genere.key}">${genere.nome}</option>
                                            <#else>
                                            <option selected="selected">Non ci sono generi sul DB</option>
                                            </#list>

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center">
                                    <label for="canali" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Canali</label>
                                    <div class="col-12 col-sm-8 col-md-8 col-lg-8 ">
                                        <select id="canali" class="form-control" name="canali" multiple="multiple">

                                            <#if (canali?size > 0)>
                                            <option value="0" selected="selected">Tutti i generi</option>
                                            </#if>

                                            <#list canali as canale>
                                            <option value="${canale.key}">${canale.nome}</option>
                                            <#else>
                                            <option selected="selected">Non ci sono canali sul DB</option>
                                            </#list>

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row mt-md-2 justify-content-center">

                                    <label for="min_ora" class="col-12 col-sm-2 col-md-2 col-lg-2  col-form-label">Ora di inizio</label>
                                    <div class="col-5 col-sm-3 col-md-3 col-lg-3">
                                        <input class="form-control" type="time" id="min_ora" name="min_ora"/>
                                    </div>
                              

                                
                                    <label for="max_ora" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Ora di fine</label>
                                    <div class="col-5 col-sm-3 col-md-3 col-lg-3">
                                        <input class="form-control" type="time" id="max_ora" name="max_ora"/>
                                    </div>

                                </div>


                                <div class="form-group row justify-content-center">
                                    <label for="date_min" class="col-12 col-sm-1 col-md-1 col-lg-2 col-form-label">Dal</label>
                                    <div class="col-8 col-sm-4 col-md-4 col-lg-3">
                                        <input class="form-control dateTime" type="date" id="date_min" min="${min_date}" max="${max_date}" name="date_min" placeholder=""/>
                                    </div>

                                    <label for="date_max" class="col-12 col-sm-1 col-md-1 col-lg-2 col-form-label">Al</label>
                                    <div class="col-8 col-sm-4 col-md-4 col-lg-3">
                                        <input class="form-control dateTime" type="date" min="${min_date}" max="${max_date}" id="date_max" name="date_max"/>
                                    </div>
                                </div>

                                <#if logged>
                                <div class="form-check col-12">
                                    <input name="send_email" type="radio" id="send_email" value="1">
                                    <label for="send_email">Desidero ricevere una mail giornaliera</label>
                                </div>
                                </#if>

                                <div class="form-group row justify-content-center">
                                    <div class="col-6 text-center">
                                        <button type="submit" class="btn primary-btn">
                                            <i class="fa fa-search"></i>
                                            Cerca
                                        </button>
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
<!-- Hero Section End -->