
<!-- Js Plugins -->
<script src="js/user/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script src="js/user/loader.js"></script>
<script src="js/user/popper.min.js"></script>
<script src="js/user/bootstrap.min.js"></script>
<script src="js/user/jquery.nice-select.min.js"></script>
<script src="js/user/jquery-ui.min.js"></script>
<script src="js/user/jquery.nicescroll.min.js"></script>
<script src="js/user/jquery.barfiller.js"></script>
<script src="js/user/jquery.magnific-popup.min.js"></script>
<script src="js/user/jquery.slicknav.js"></script>
<script src="js/user/owl.carousel.min.js"></script>
<script src="js/user/date-time-picker.min.js"></script>
<script src="js/user/main.js"></script>
<script src="js/user/custom.js"></script>