
    <!-- Js Plugins -->
    <script src="js/shared/jquery-3.3.1.min.js"></script>
    <script src="js/user/loader.js"></script>
    <script src="js/shared/bootstrap.min.js"></script>
    <script src="js/shared/jquery.nice-select.min.js"></script>
    <script src="js/shared/jquery-ui.min.js"></script>
    <script src="js/shared/jquery.nicescroll.min.js"></script>
    <script src="js/shared/jquery.barfiller.js"></script>
    <script src="js/shared/jquery.magnific-popup.min.js"></script>
    <script src="js/shared/jquery.slicknav.js"></script>
    <script src="js/shared/owl.carousel.min.js"></script>
    <script src="js/shared/date-time-picker.min.js"></script>
    <script src="js/shared/main.js"></script>
    <script src="js/user/custom.js"></script>