<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tutti gli utenti</h1>
<!--
        <div class="alert alert-success">
            <ul>
                <li></li>
            </ul>
        </div>
    </div> -->
    <div class="col-lg-12">
            <a class="page-header"  style="color: green; cursor: pointer;" >Aggiungi un utente <em class="fa fa-user-plus color-green"></em></a>
    </div>
</div>

<div class="panel panel-container" style="background-color: #F1F4F7">
    <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-4 no-padding">
            <div class="panel panel-teal panel-widget border-right">
                Email
            </div>
        </div>
        <div class="col-xs- col-md-3 col-lg-2 no-padding">
            <div class="panel panel-teal panel-widget border-right">
                Nome
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
            <div class="panel panel-teal panel-widget border-right">
               Cognome
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
            <div class="panel panel-teal panel-widget border-right">
                Ruolo
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-1 no-padding">
            <div class="panel panel-teal panel-widget border-right">
                Edit
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-1 no-padding">
            <div class="panel panel-teal panel-widget border-right">
                Delete
            </div>
        </div>
    </div>
</div>


<div class="panel panel-container">
    <#list utenti as utente>
    <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-4 no-padding">
            <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;">${utente.email}</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
            <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;">${utente.nome}</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
            <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;">${utente.cognome}</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
            <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;">${utente.ruolo}</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-1 no-padding">
            <div class="panel panel-teal panel-widget border-right" style="word-wrap: break-word; overflow-wrap: break-word;"></div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-1 no-padding">
            <div class="panel panel-teal panel-widget border-right">
                <form id="delete-form-{{$id}}"method="POST" action="/admin/totalban/delete">
                    <em class="fa fa-xl fa-times color-red" style="cursor: pointer;" onclick="deleteFunc()" ></em>
                    <script>
                        function deleteFunc() {
                            var x = confirm('Do you really want to delete this ban ?')
                            if(x == true){
                                document.getElementById('delete-form-{{$id}}').submit(); }
                        }
                    </script>
                    <input name="id" value="{{$id}}" hidden >
                </form>
            </div>
        </div>
    </div>
</#list>
</div>
</div>
