<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>images.directory</param-name>
        <!-- Tomcat must have write permissions on this folder -->
        <param-value>d:/Java/TomcatWork</param-value>
    </context-param>
    <context-param>
        <param-name>files.directory</param-name>
        <param-value>E:/Desktop/Desktop/Progetti/Web-Engineering-Guida-TV/files</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>

    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>HP</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_admin</param-name>
        <param-value>outline_admin.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <servlet>
        <servlet-name>Prova</servlet-name>
        <servlet-class>com.mycompany.guida.tv.Prova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.mycompany.guida.tv.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseController</servlet-name>
        <servlet-class>com.mycompany.guida.tv.controller.BaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mycompany.guida.tv.auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.mycompany.guida.tv.auth.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PalinsestoGeneral</servlet-name>
        <servlet-class>com.mycompany.guida.tv.controller.PalinsestoGeneral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PalinsestoCanale</servlet-name>
        <servlet-class>com.mycompany.guida.tv.controller.PalinsestoCanale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.mycompany.guida.tv.controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.mycompany.guida.tv.auth.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>com.mycompany.guida.tv.controller.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.mycompany.guida.tv.admin.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Programma</servlet-name>
        <servlet-class>com.mycompany.guida.tv.controller.DettagliProgramma</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prova</servlet-name>
        <url-pattern>/prova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseController</servlet-name>
        <url-pattern>/baseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PalinsestoGeneral</servlet-name>
        <url-pattern>/palinsesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PalinsestoCanale</servlet-name>
        <url-pattern>/canale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/verifyemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Programma</servlet-name>
        <url-pattern>/programma</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/guida-tv</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
